# Ignore all...
*

# Unignore all with extension:
!*.c
!*.h
!*.inc
!*.html
!*.conf
!*.txt
!Makefile
!*.asm
!*README*
!*READ.ME*
!bochsrc
!*.md
!*.ld
!*.docx
!*.doc
!*.odt
!*.pdf
!*.sh
!*.dts
!*.dtb
!*.jpeg
!*.gitignore

# Unignore all dirs
!*/